{% extends '../base_paginas.html' %} {% load static %} {% block titulo_pagina %}
<h1>Ciudades</h1>
{% endblock %} {% block boton_nuevo %}
<input type="button" id="btnCreate" onclick="btnCreate('crearciudad', 'Crear ciudad', 'Crear')" class="btn btn-success" value="Crear ciudad"> {% endblock %} {% block cabecera_tabla %}
<th scope="col">#</th>
<th scope="col">Nombre</th>
<th scope="col">Descripcion</th>
<th scope="col">Accion</th>
{% endblock %} {% block cuerpo_tabla %} {%if ciudades %} {% for ciudad in ciudades %}
<tr id="tr-ciudad-{{ciudad.id}}">
    <th scope="row">{{forloop.counter}}</th>
    <td id="tr-nombre-{{ciudad.id}}">{{ciudad.nombre}}</td>
    <td id="tr-descripcion-{{ciudad.id}}">{{ciudad.descripcion}}</td>
    <td>
        <div>
            <input type="button" value="Actualizar" onclick="btnUpdate('{{ciudad.id}}','actualizarciudad', 'Actualizar ciudad', 'Actualizar')">
            <input type="button" value="Eliminar" onclick="btnDelete('{{ciudad.id}}', 'eliminarciudad')">
        </div>
    </td>
</tr>
{% endfor %} {% endif %} {% endblock %}
